<div id="<%= dom_id record_status %>">
  <p>
    <strong>Code:</strong>
    <%= record_status.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= record_status.description %>
  </p>

  <p>
    <strong>About:</strong>
    <%= record_status.about %>
  </p>

</div>
