<h1>Editing record status</h1>

<%= render "form", record_status: @record_status %>

<br>

<div>
  <%= link_to "Show this record status", @record_status %> |
  <%= link_to "Back to record statuses", record_statuses_path %>
</div>
